<form *ngIf="showAddTesk" class="edit-form" (ngSubmit)="saveTask()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)]="task.text" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="day">Date & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="task.day" placeholder="Add Date & Time">
    </div>
    <div class="form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="task.reminder">
    </div>
    <button class="btn btn-block">{{taskEditState}}</button>
</form>